@font-face {
    font-family: MSTeamsIcons-Light;
    font-style: normal;
    font-weight: normal;
    src: url('/lib/msteams-ui-icons-core/fonts/TeamsAssets-Light.ttf');
    src: url('/lib/msteams-ui-icons-core/fonts/TeamsAssets-Light.eot?#iefix') format('embedded-opentype'), url('/lib/msteams-ui-icons-core/fonts/TeamsAssets-Light.ttf') format('truetype'), url('/lib/msteams-ui-icons-core/fonts/TeamsAssets-Light.woff2') format('woff2'), url('/lib/msteams-ui-icons-core/fonts/TeamsAssets-Light.woff') format('woff'), url('/lib/msteams-ui-icons-core/fonts/TeamsAssets-Light.svg#MSTeamsIcons-Light') format('svg')
}

span {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    padding: 3.2rem;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif !important;
}

.surface {
    background: transparent !important;
}

.flex-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex-1 {
    flex: 1;
}

.actionButtonsRow {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    margin-top: 2.4rem;
}

.button-primary {
    margin-left: .8rem;
}

.button-secondary {
    margin-left: .8rem;
}

#resultsList {
    overflow-y: auto;
    overflow-x: hidden;
}

.resultItem {
    padding-top: .8rem;
    padding-bottom: 1.2rem;
    cursor: pointer;
}

.resultItem:hover {
    opacity: 1;
    background-color: #F3F2F1;
}

.resultsTextCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: -2.4rem;
}

.noResultsMessage {
    opacity: 0.5;
    font-size: 1.8rem;
    text-align: center;
}

.resultCardHeading {
    opacity: 0.75;
}

.resultCardSeparator {
    fill: #252424;
    margin: 1.6rem 0;
}

.selectedQuestion {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
}

.adaptiveResultQuestion {
    padding-right: 1.6rem;
    padding-bottom: .6rem;
}

.adaptiveResultAnswer {
    padding-bottom: .6rem;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.searchResultsQuestionText {
    margin-left: 1.6rem;
    line-height: 2.0rem;
}

.searchResultsAnswerText {
    margin-left: 1.6rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

#loader {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select {
    width: 100%;
    color: #252424;
    height: 32px;
    padding-left: 12px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: #f3f2f1;
    border-style: none;
    outline-color: transparent;
    text-align: left;
    border-radius: .3rem;
}

.icon-base {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-family: MSTeamsIcons-Light !important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-rendering: optimizeLegibility;
}

.icon-arrowdown::before {
    bottom: 1px;
    content: "\e41e";
    position: relative;
    float: right;
}

.placeholder-text {
    color: rgb(127,127,127);
}

.select-wrapper {
    position: relative;
    margin-bottom: 12px;
}

.select-item {
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    padding-top: 5px;
    padding-bottom: 7px;
}

.select-item:hover {
    background-color: #f3f2f1;
}

.select-items::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.select-items::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #BDBDBD;
}

.select-items {
    width: 100%;
    max-height: 168px;
    overflow-y: auto;
    margin: 0 !important;
    border-top: 2px solid #6264a7;
}

.searchBarDiv {
    margin-bottom: 24px;
}

.labelOverwrite {
    font-size: 12px !important;
    font-family: 'Segoe UI' !important;
    color: #252424;
    opacity: 0.75 !important;
    margin-bottom: 6px;
}

.icon-search {
    position: absolute;
    line-height: 32px;
    margin-left: 85%;
}

    .icon-search::before {
        bottom: 1px;
        content: "\e406";
        position: relative;
        float: right;
        padding-right: 6px;
    }

.inputSearchBox {
    height: 32px;
    width: 100% !important;
    padding-left: 12px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #252424;
    opacity: 1;
    font-family: 'Segoe UI' !important;
    font-size: 14px;
}

#resultsError {
    overflow-y: auto;
    overflow-x: hidden;
}

.applicationError {
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
    color: #252424;
    margin: 0 auto;
    justify-content: center;
}