@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="flex-column">
        <span class="flex-column applicationError">Sorry, something unexpected happened. Try again.</span>
    </div>
</body>
</html>