@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="flex-column">
        <span class="flex-column applicationError">You do not have access to view this page.</span>
</div>
</body>
</html>
