@model Lib.Models.SelectedSearchResult

<div class="flex-column">
    <div class="flex-1">
        <div class="selectedQuestion font-bold">@Model.Question</div>
        @{
            var JsonSerializerSettings = new Newtonsoft.Json.JsonSerializerSettings()
            {
                ContractResolver = new Lib.Helpers.CamelCaseExceptDictionaryKeysResolver(),
                Formatting = Newtonsoft.Json.Formatting.None,
            };
            var json = Newtonsoft.Json.JsonConvert.SerializeObject(Model, JsonSerializerSettings);
        }
        <table>
            @foreach (Lib.Models.DeserializedAnswer answer in Model.Answers)
            {
                <tr>
                    <td class="adaptiveResultQuestion font-bold">@answer.Question</td>
                    <td class="adaptiveResultAnswer">@answer.Answer</td>
                </tr>
            }
        </table>
    </div>
    <div class="actionButtonsRow">
        <button onclick='javascript: shareCard(JSON.stringify(@(Json.Encode(Model))))' class="button-primary">Share</button>
        <button onclick="goBackToSearchResults()" class="button-secondary">Back</button>
    </div>
</div>
