@model List<Lib.Models.SelectedSearchResult>

@if (Model != null && Model.Count != 0)
{
    <div>
        @foreach (Lib.Models.SelectedSearchResult item in Model)
        {
            System.Text.StringBuilder sb = new System.Text.StringBuilder();
            foreach (var answer in item.Answers)
            {
                sb.Append(answer.Answer + " | ");
            }
            sb.Remove(sb.Length - 3, 3);
            var answers = Newtonsoft.Json.JsonConvert.SerializeObject(item.Answers);
            <div class="resultItem" onclick='javascript: listItemClick(JSON.stringify(@answers),"@item.Question", "@item.Id")'>
                <div class="searchResultsQuestionText">@item.Question</div>
                <div class="searchResultsAnswerText">@sb.ToString()</div>
            </div>
        }
    </div>
}
else
{
    <div class="resultsTextCentered">
        <span class="noResultsMessage">Sorry, no results found. Try another search term.</span>
    </div>
}