@model List<Lib.Models.SelectedSearchResult>
<div id="resultsText">
    @if (Model != null && Model.Count != 0)
    {
    <div class="resultItems">
        @foreach (Lib.Models.SelectedSearchResult item in Model)
        {
            System.Text.StringBuilder sb = new System.Text.StringBuilder();
            foreach (var answer in item.Answers)
            {
                sb.Append(answer.Answer + " | ");
            }
            sb.Remove(sb.Length - 3, 3);
            var answers = Newtonsoft.Json.JsonConvert.SerializeObject(item.Answers);
            <div class="resultItem" onclick='javascript: listItemClick(JSON.stringify(@answers),"@item.Question", "@item.Id")'>
                <div class="searchResultsQuestionText">
                    <span>@item.Question</span>
                </div>
                <div class="searchResultsAnswerText">
                    <div class="searchResultsInnerDiv">
                        <span class="searchResultsAnswersSpan">@sb.ToString()</span>
                    </div>
                </div>
            </div>
        }

    </div>
    }
    else
    {
    <div class="resultsTextCentered">
        <span class="searchResultsSpan">Sorry, no results found. Try another search term.</span>
    </div>
    }
</div>