@font-face {
    font-family: MSTeamsIcons-Light;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/TeamsAssets-Light.ttf');
    src: url('TeamsAssets-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/TeamsAssets-Light.ttf') format('truetype'), url('TeamsAssets-Light.woff2') format('woff2'), url('TeamsAssets-Light.woff') format('woff'), url('TeamsAssets-Light.svg#MSTeamsIcons-Light') format('svg')
}

span
{
    font-family:'Segoe UI' !important;
}

body {
    width: 536px;
    height: 500px;
    font-family: 'Segoe UI';
    margin-top: 32px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    padding-bottom: 32px;
    font-family:'Segoe UI'
}

body::-webkit-scrollbar {
    width: 8px;
    height:8px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.controlWidth {
    width: 536px;
}

.marginZero {
    margin: 0;
}

.floatButtonsRight {
    margin-left: 8px;
    float: right;
    font-family:'Segoe UI' !important;
}

.select {
    width: 536px;
    color: #252424;
    height: 32px;
    padding-left: 12px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #f3f2f1;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline-color: transparent;
    max-height: 100px;
}

.select-wrapper {
    position: relative;
    max-height: 168px;
    margin-bottom: 12px;
}

.select-item {
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    padding-top: 5px;
    padding-bottom: 7px;
}

    .select-item:hover {
        background-color: #f3f2f1;
    }
.select-items::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.select-items::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #BDBDBD;
}

.select-items {
    width: 536px;
    max-height: 168px;
    overflow-y: auto;
    margin: 0 !important;
}

.greyCustomColorSpan {
    color: rgb(127,127,127);
    float: left;
}

.blackCustomColorSpan {
    color: black;
    float: left;
}

.labelOverwrite {
    font-size: 12px !important;
    font-family: 'Segoe UI' !important;
    color: #252424 !important;
    opacity: 0.75 !important;
}

.userText {
    opacity: 1;
    color: #252424;
    opacity: 1;
}

.inputSearchBox {
    height: 32px;
    width: 536px !important;
    padding-left: 12px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #252424;
    opacity: 1;
    font-family: 'Segoe UI';
    font-size: 14px;
}

    .inputSearchBox::placeholder {
        opacity: 0.75;
        color: #252424;
        font-family: 'Segoe UI';
        font-size: 14px;
    }

.searchResults {
    height: 320px;
    text-align: center;
    vertical-align: middle;
}

.searchResultsSpan {
    line-height: 290px;
    color: #252424 !important;
    opacity: 1 !important;
    font-family: 'Segoe UI' !important;
    font-size: 18px !important;
}

.searchBarDiv {
    margin-bottom: 24px;
    visibility: hidden;
}
.actionButtonsDiv{
    height:32px;
    font-family: 'Segoe UI' !important;
}

.icon-base {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: block;
    font-family: MSTeamsIcons-Light !important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-rendering: optimizeLegibility;
}

.icon-arrowdown::before {
    bottom: 1px;
    content: "\e41e";
    position: relative;
    float: right;
}

.icon-search {
    position: absolute;
    line-height: 32px;
    margin-left: 514px;
}

    .icon-search::before {
        bottom: 1px;
        content: "\e406";
        position: relative;
        float: right;
        padding-right: 6px;
    }

.inputsDiv {
    height: 412px;
    margin-bottom: 24px;
}

.btnBack{
    background:none;
    border:none;
    font-size:12px;
    padding-left:0px;
}
.btnBackSpan {
    font-family: 'Segoe UI';
    font-size: 12px;
    opacity: 1;
    color: rgba(37, 36, 36, 0.75);
}
.icon-backButton::before {
    content: "\e44c";
    position: relative;
    height: 16px !important;
}

.searchResultsQuestionText {
    color: #252424;
    opacity: 1;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.resultCardSpan{
    color: rgba(37, 36, 36, 0.75);
    opacity: 1;
    font-family:'Segoe UI';
    font-size:14px;
}

.searchResultsAnswerText {
    color: rgba(37, 36, 36, 0.75);
    opacity: 1;
    font-family: 'Segoe UI';
    font-size: 12px;
}

.searchResultsInnerDiv {
    width: 520px;
    text-overflow: clip;
}

.horizonalLineHeight{
    height:8px;
    margin:12px 0 12px 0;
}

.horizonalLine{
    fill:rgba(37, 36, 36, 0.05);
    height:1px;
    margin: 0;
}

.resultCardHeading {
    padding-bottom: 8px;
}

.searchResultsAnswersSpan {
    height: 16px;
    display: block;
    overflow: hidden;
}

.resultItems {
    height: 290px;
    overflow-y: auto;
    width: 536px;
    overflow-x: hidden;
}

.resultItem {
    height: 56px;
    width: 536px;
    padding-top: 9px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right:16px;
}

    .resultItem:hover {
        opacity: 1;
        background-color: rgba(243, 242, 241, 1);
    }

.resultItems::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.resultItems::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
}

.resultItems::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

.buttonDimensions {
    border-radius: 0.4rem;
    width: 100px;
    height: 32px;
}

.resultsTextCentered {
    text-align: center;
}

.selectedQuestion {
    opacity: 1;
    color: rgba(37,36,36,1);
    font-family: 'Segoe UI';
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.answerDiv {
    display: inline-block;
    width: 74%;
    opacity: 1;
    color: rgba(37,36,36,1);
    font-family:'Segoe UI';
    font-size:14px;
}

.questionDiv {
    display: inline-block;
    width: 25%;
    opacity: 1;
    color: rgba(37,36,36,1);
    font-family:'Segoe UI';
    font-weight:600;
    font-size:14px;
}

.errorDiv {
    line-height: 500px;
    text-align:center;
}

.loader {
    color: #7f7f7f;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

.label {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
