@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="searchResults errorDiv">
        <span class="searchResultsSpan">Oops! Something happened.</span>
    </div>
</body>
</html>