@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TokenExpiredError</title>
</head>
<body>
    <div class="errorDiv">
        <label>Your access has expired. Please restart the app.</label>
    </div>
</body>
</html>
