@{
    Layout = null;
}
@Styles.Render("~/Content/css")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnauthorizedAccess</title>
</head>
<body>
    <div class="errorDiv">
        You do not have access to view this page.
    </div>
</body>
</html>
