@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="errorDiv">
        You do not have access to view this page.
    </div>
</body>
</html>
