body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
    height: 31px !important;
}

.userIcon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.sharePointUserIcon {
    height: 50px;
    margin-left: -15px;
}

.userRemove {
    margin-top: 3%;
    margin-left: 0%;
    padding-left: 0%;
    float: left;
}

.usersCenter {
    margin: auto;
    width: 75%;
}

.userEmail {
    font-size: 10px;
    color: #03225C
}

.fontUnset {
    font-weight: unset;
}

.btnPurple {
    background-color: #6264A7;
    color: white;
}

input[type="radio"] {
    position: absolute;
    margin-top: -5px;
    margin-left: -20px;
}

.loader {
    position: absolute;
    z-index: 9999;
    opacity: 0.5;
    background: #e9e9e9;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader-image {
    margin-left: 43%;
    margin-top: 16%;
}
