@model Microsoft.Teams.Apps.ListSearch.Common.Models.SelectedSearchResult

<div class="flex-column">
    <div id="searchResultContent" class="flex-1">
        <div class="selectedQuestion font-bold">@Model.Question</div>
        @{
            var JsonSerializerSettings = new Newtonsoft.Json.JsonSerializerSettings()
            {
                ContractResolver = new Microsoft.Teams.Apps.ListSearch.Common.Helpers.CamelCaseExceptDictionaryKeysResolver(),
                Formatting = Newtonsoft.Json.Formatting.None,
            };
            var json = Newtonsoft.Json.JsonConvert.SerializeObject(Model, JsonSerializerSettings);
        }
        <table>
            @foreach (Microsoft.Teams.Apps.ListSearch.Common.Models.DeserializedAnswer answer in Model.Answers)
            {
                <tr>
                    <td class="adaptiveResultQuestion font-bold">@answer.Question</td>
                    <td class="adaptiveResultAnswer">@answer.Answer</td>
                </tr>
            }
        </table>
    </div>
    <div class="actionButtonsRow">
        <button onclick='shareCard(@(json))' tabindex="2" class="button-primary">Share</button>
        <button onclick="goBackToSearchResults()" tabindex="1" class="button-secondary">Back</button>
        <script>      
            $(".button-secondary").focus();
        </script>
    </div>
</div>
