@model List<Microsoft.Teams.Apps.ListSearch.Common.Models.SelectedSearchResult>

@if (Model != null && Model.Count != 0)
{
    <div>
        @foreach (Microsoft.Teams.Apps.ListSearch.Common.Models.SelectedSearchResult item in Model)
        {
            var answers = Newtonsoft.Json.JsonConvert.SerializeObject(item.Answers);
            <div class="resultItem" onclick='listItemClick(JSON.stringify(@answers),"@item.Question", "@item.ListItemId")'>
                <div class="searchResultsQuestionText">@item.Question</div>
                <div class="searchResultsAnswerText">@(string.Join(" | ", item.Answers.Select(a => a.Answer)))</div>
            </div>
        }
    </div>
}
else
{
    <div class="resultsTextCentered">
        <span class="noResultsMessage">Sorry, no results found. Try another search term.</span>
    </div>
}